body {
    margin: 0%;
    background: linear-gradient(to bottom, #FF007D, #9b1b34);
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(90deg, #000000, #7a2387);
    background-size: 300% 300%;
    animation: animation 7s infinite ease-in-out;
    color: #f0f0f0;
    font-family: Cambria;
    
}
@keyframes animation{

  0%{background-position: 0 50%;
}
    
  50%{background-position: 100% 50%;
}

  100%{background-position: 0 50%;
}
}

.header {
  background-color: #000000c4;
  color: #fff;
  padding: 10px;
  border: 2px solid #000000;
  
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content .title {
  position: relative;
  color: #fff;
  font-weight: 500;
  line-height: 1em;
  font-size: 1em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  }
  
.content .title span {
  font-weight: 300;
  font-size: 0.70em;
  }
body {
  margin: 100px;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  }

.profile-icon  {
  position: fixed;
  top: 20px;
  right: 20px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 9999;
  }

.menu-container {
  position: fixed;
  top: 20px;
  right: 80px;
  width: 180px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  display: none;
  z-index:9999;
}

  .menu-container.active {
      display: block;
  }

.menu-container ul {
  list-style: none;
  padding: 0;
}

.menu-container li {
  padding: 10px;
}

.menu-container li a {
  color: #333;
  text-decoration: none;
  display: block;
}

.menu-container li a:hover {
  background-color: #f0f0f0;
}




.flower-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 12px;
}

 /* Ajuste a largura de cada bloco de flor para ocupar 33% da largura total */
.flower-block li {
  width: 24%;   /* apenas mudar para fica em 4 fileiras */
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  height: 254px;
  background-color: #023656;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
}
      

/* Ajuste o espaçamento entre as linhas de flores */
.flower-block ul {
  margin-bottom: 20px;
}
  
.flower-block::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
  height: 1000px; /*aumentar tamanho para baixo */
} 
    
.flower-block p:not(.heading) {
  font-size: 14px;
}
      
.flower-block p:last-child {
  color: #e81cff;
  font-weight: 600;
}
      
.flower-block:hover::after {
  filter: blur(30px);
}
      
.flower-block:hover::before {
  transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
}
      
      