.header 
.user-links span{
    text-align:right;
    font-size:1.4em;
    color:#fff
}
.header 
.user-links a{
    margin-left:10px
}
.box-content{
    text-align:center
}
.box-content .hr-bar{
    margin-bottom:8px
}
.box-content .g-recaptcha{
    margin-bottom:10px
}
.box-content .g-recap tcha>*{
    display:block;
    margin-left:auto;
    margin-right:auto
}
.box-content .login-options{
    altura:22px;line-height:22px
}
.box-content .login-options .link{
    float:right;
    text-align:right;
    font-size:1.5em;
    font-weight:400;
    margin-right:1px
}
.footer{
    background:#f5f5f 5
}
@media screen and (max-width:500px){
    .box-content .btn-social-container{
        flex-direction:column
    } 
    .box-content .btn-social{
        flex:1 1 auto;
        width:100%
    }
}
@media screen and (max-width:445px){
    .header .user-links span{
        display:none
    }
    .box-content{
        largura:100%;
         -moz-box-sizing:border-box;
         -webkit-box-sizing:border-box;
         box-sizing:border-box
        }
        .box-content .login-options{
            margin-top:16px
        }
        .checkbox-container,.radio-container{
            margin:0 auto;
            width:180px
        }
        .box-content .login-options .link{
            display:block;
            text-align:center;
            float:none;clear:both}}