.registration-style {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.registration-style h2 {
  text-align: center;
  margin-bottom: 20px;
}

.registration-style label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.registration-style input[type="text"],
.registration-style input[type="email"],
.registration-style input[type="password"],
.registration-style input[type="tel"] {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
}

.registration-style input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.registration-style input[type="submit"]:hover {
  background-color: #45a049;
}


.popup {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #ff0000;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    z-index: 9999;
}

