body {
    background: linear-gradient(to bottom, #A10C4E, #FF007D);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    color: #FFF;
    margin-top: -400px;
    font-family: "Arial Black", sans-serif;
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

.option a {
    display: inline-block;
    width: 200px;
    padding: 12px 30px;
    background-color: #4285F4;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.option a:hover {
    background-color: #1A73E8;
}
