<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sobre nois</title>
    <link rel="stylesheet" href="/css/aboutUsCss.css">
</head>
<body>
    <div id="app">
        <div class="profile-icon" @click="toggleMenu"> <img src="/css/png/icone.png" alt="icon" height="50px"></div>
        <div class="menu-container" :class="{ 'active': isMenuOpen }" >
            
            <ul>
                <li @click="redirectTo('/floricultura/mensagem')"><a ><strong>Menu Principal</strong></a></li>
                <li @click="redirectTo('/floricultura/mandar-flor')"><a ><strong>Mandar um email</strong></a></li>
                <li @click="redirectTo('/floricultura/ver-flores')"><a ><strong>Ver Flores</strong></a></li>
                <li @click="redirectTo('/floricultura/perfil')"><a ><strong>informações do perfil</strong></a></li>
                <li @click="redirectTo('/floricultura/logout')"><a ><strong>Sair</strong></a></li>

            </ul>
        </div>
    </div>

    <section class="container">

    </section>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="/js/screenPrincipal.js"></script>
</body>
</html>