<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sobre nos</title>
    <link rel="stylesheet" href="/css/aboutUs.css">
</head>
<body>

<p> class="sobre" >Igor de Campos e Cris, dois jovens programadores entusiasmados e determinados a explorar as maravilhas da tecnologia. Juntos, eles embarcaram em um empolgante projeto, usando suas habilidades em Spring Boot, JavaScript, HTML, CSS, MySQL e outras ferramentas.

    Movidos pela paixão por aprender e colocar em prática seus conhecimentos, Igor e Cris decidiram criar um sistema de floricultura como parte de sua jornada de crescimento profissional. Utilizando o poder do Spring Boot, eles construíram um backend sólido e eficiente, capaz de fornecer serviços web de alta qualidade.

    Enquanto Igor mergulhava no desenvolvimento do backend, Cris assumiu o desafio de dar vida à interface do usuário. Utilizando JavaScript, HTML e CSS, ele criou um frontend envolvente e amigável, tornando a experiência do usuário encantadora.

    O projeto não se limitou a essas tecnologias principais. Ambos os programadores também exploraram diversas outras ferramentas e técnicas ao longo do caminho, aprimorando suas habilidades e entendendo a importância de uma abordagem abrangente no desenvolvimento de software.

    Embora possam ser novos na área, Igor e Cris abraçaram cada desafio com dedicação e curiosidade. Cada linha de código escrita foi uma oportunidade de aprendizado, e o resultado final é uma prova do trabalho árduo e da paixão que ambos têm pela programação.

    O projeto de floricultura pode ser apenas o começo dessa jornada emocionante, mas é uma demonstração clara de que, com determinação e espírito colaborativo, esses dois jovens programadores têm um futuro brilhante pela frente no mundo da tecnologia. Parabéns a Igor de Campos e Cris por esta incrível conquista e por sua busca constante de conhecimento e prática na área da programação!
</p>

    <div id="app">
        <div class="profile-icon" @click="toggleMenu"> <img src="/css/png/icone.png" alt="icon" height="50px"></div>
        <div class="menu-container" :class="{ 'active': isMenuOpen }" >
            
            <ul>
                <li @click="redirectTo('/floricultura/mensagem')"><a ><strong>Menu Principal</strong></a></li>
                <li @click="redirectTo('/floricultura/mandar-flor')"><a ><strong>Mandar um email</strong></a></li>
                <li @click="redirectTo('/floricultura/ver-flores')"><a ><strong>Ver Flores</strong></a></li>
                <li @click="redirectTo('/floricultura/perfil')"><a ><strong>informações do perfil</strong></a></li>
                <li @click="redirectTo('/floricultura/logout')"><a ><strong>Sair</strong></a></li>

            </ul>
        </div>
    </div>

    <section class="container">

    </section>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="/js/screenPrincipal.js"></script>
</body>
</html>




