<!DOCTYPE html>
<html lang="pt-BR" class="page-basic" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login Floricultura</title>
    <link rel="stylesheet" href="/css/loginScreen.css" th:href="@{/css/loginScreen.css}">
    <link rel="stylesheet" href="/src/main/resources/static/css/loginScreen.css">
</head>
<body>
<div class="page-basic-wrapper">
    <header class="header">
        <div class="header-inner">
            <div class="logo-container">
               <img src="/css/png/Florecu.jpg" alt="logo" height="70px">
             
            </div>
            <div class="user-links">
                <span><strong>Ainda não tem uma conta?</strong></span>
                <a class="link link-clean" href="/floricultura/registration"><strong>Cadastre-se</strong></a>
            </div>
        </div>
    </header>

    <div class="page-basic-content">
        <div class="box-content">
            <p class="titu"><strong>Login Floricultura</strong></p>

            <form th:action="@{/floricultura/login}" method="post">

                <div class="input-text-container">
                    <label for="username"><input class="botaoDeDados" type="text" id="username" name="username" placeholder="Nome de usuario" required/></label>
                </div>
                <div class="input-text-container">
                    <label for="password"><input class="botaoDeDados" type="password" id="password" name="password" placeholder="Digite sua senha" required/></label>
                </div>
                <button  id="btnEfetuarCadastrar" type="submit">Entrar</button> <!-- ateraçao na class "btn btn-big btn-green" para "btnEfetuarCadastrar"-->
            </form>

            <div class="login-options">
                <div class="checkbox-container">
                    <label for="mantenhaMeLogado">
                        <input id="mantenhaMeLogado" type="checkbox" checked>
                        <p class="chek">Mantenha-me logado.</p>
                    </label>
                </div>
            </div>

        </div>
    </div>
</div>
</body>

</html>
