<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="/css/messageScreen.css">
    <script src="/js/messageScreen.js"></script>

</head>
<body>

<div id="app">
    <div class="profile-icon" @click="toggleMenu"> <img src="/css/png/icone.png" alt="icon" height="50px"></div>
    <div class="menu-container" :class="{ 'active': isMenuOpen }" >

        <ul>
            <li @click="redirectTo('/floricultura/mensagem')"><a ><strong>Menu Principal</strong></a></li>
            <li @click="redirectTo('/floricultura/ver-flores')"><a ><strong>Ver flores</strong></a></li>
            <li @click="redirectTo('/floricultura/perfil')"><a ><strong>informações do perfil</strong></a></li>
            <li @click="redirectTo('/floricultura/sobre-Nos')"><a ><strong>Sobre nós</strong></a></li>
            <li @click="redirectTo('/floricultura/logout')"><a ><strong>Sair</strong></a></li>
        </ul>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="/js/screenPrincipal.js"></script>


<div class="caixa-mensagem">
    <form th:action="@{/floricultura/mandar-flor}" method="post">
        <div>
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" required>
        </div>
        <div>
            <label for="assunto">Assunto:</label>
            <input type="text" id="assunto" name="assunto" required>
        </div>
        <div>
            <label for="mensagem">Mensagem:</label>
            <textarea id="mensagem" name="mensagem" required></textarea>
        </div>
        <div>
            <label for="flower" placeholder="digite aqui o nome da flor que você deseja enviar:">Digite aqui o nome da flor:</label>
            <input type="text" id="flower" name="flower" required>
        </div>
        <button id="enviarBtn" @click="enviarMensagem">Enviar</button>
        <footer></footer>
        <div id="messageContainer"></div>
    </form>
</div>

<footer></footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>


<div th:if="${successMessage}" class="popup success" id="successPopup">
    [[${successMessage}]]
</div>

<div th:if="${errorMessage}" class="popup error" id="errorPopup">
    [[${errorMessage}]]
</div>
</body>

</html>
